<!-- Create and Edit Form -->
<h2>{{ editMode ? 'Edit Answer' : 'New Answer' }}</h2>
<div class="form-section">
  <form #answerForm='ngForm' class="form-row">
    <mat-form-field id="age-form-field">
      <input matInput placeholder="Content" name="content" required [(ngModel)]="answer.answerText">
    </mat-form-field>
    <ng-container *ngIf="editMode; else elseTemplate">
      <div>
        <button mat-raised-button class="green-bg" (click)="onSubmit()">Update</button>
        <button mat-raised-button class="brown-bg" (click)="onCancel()">Cancel</button>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div>
        <button mat-raised-button class="green-bg" [disabled]="answerForm.invalid" (click)="onSubmit()">Add</button>
        <button mat-raised-button class="brown-bg"  (click)="onCancel()">Cancel</button>
      </div>
    </ng-template>
  </form>
</div>
