<h2 mat-dialog-title>New Answer </h2>
<mat-dialog-content>
  <form [formGroup]="formAnswer">
    <mat-grid-list cols="1" rowHeight="80px">
      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <mat-label>User Name</mat-label>
          <input matInput formControlName="userName" autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <mat-label>Answer Content</mat-label>
          <textarea matInput formControlName="content" autocomplete="off"></textarea>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close class="green-bg">Cancel</button>
  <button mat-button class="green-bg" (click)="addAnswer()" [disabled]="formAnswer.invalid">Add</button>
</mat-dialog-actions>
