.mat-tab-group {
  color: var(--primary-main-green);
  font-family: var(--font-family);
}

.custom-tab {
  color: var(--primary-main-green);
  font-family: var(--font-family);
}

div {
  max-width: 1050px;
  max-height: 600px;
  margin: auto;
}
h1{
  font-family: var(--font-family)!important;
  color: black;
}
.center-button {
  display: flex;
  justify-content: center;
}
