<div class="table-wrapper">
  <h1>Controls</h1>

  <app-sowing-controls-create-and-edit (editCanceled)="onCancelEdit()"
                                       (controlAdded)="onControlAdded($event)"
                                       (controlUpdated)="onControlUpdated($event)"
                                       [editMode]="isEditMode"
                                       [control]="controlData"
                                       [showForm]="showForm"
                                       (showFormChange)="showForm = $event">
  </app-sowing-controls-create-and-edit>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="controlDate">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Control Date</th>
      <td *matCellDef="let element" mat-cell>{{ element.controlDate }}</td>
    </ng-container>
    <ng-container matColumnDef="sowingCondition">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Sowing Condition</th>
      <td *matCellDef="let element" mat-cell>{{ element.sowingCondition }}</td>
    </ng-container>
    <ng-container matColumnDef="sowingSoilMoisture">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Soil Moisture</th>
      <td *matCellDef="let element" mat-cell>{{ element.sowingSoilMoisture }}</td>
    </ng-container>
    <ng-container matColumnDef="sowingStemCondition">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Stem Condition</th>
      <td *matCellDef="let element" mat-cell>{{ element.sowingStemCondition }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell> Actions</th>
      <td *matCellDef="let element" mat-cell>
        <a (click)="onEditItem(element)" href="javascript:void(0)" style="color: orange"><mat-icon>edit</mat-icon></a>
        <a (click)="onDeleteItem(element)" href="javascript:void(0)" style="color: red"><mat-icon>delete</mat-icon></a>
      </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns:displayedColumns" [ngClass]="{'editable-row': controlData.id === row.id }" mat-row></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
