<div class ="card-container">
  <mat-card class="custom-card" style="width: 30%;">
  <mat-card-header class="center-content">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="mat-title">Most registered crops in the app</mat-card-title>
  </mat-card-header>
  <div *ngIf="chartOptions.series && chartOptions.chart && chartOptions.responsive" class="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [labels]="chartOptions.labels"
      [responsive]="chartOptions.responsive"
    ></apx-chart>
  </div>
  <mat-card-content>
    <p>
      The most registered crop in the app during the last month was the {{mostRegisteredCrop}}.
    </p>
  </mat-card-content>

</mat-card>


  <mat-card class="custom-card" style="width: 30%;">
    <mat-card-header class="center-content">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="mat-title">Most controlled crops in the app</mat-card-title>
    </mat-card-header>
    <div *ngIf="controlChartOptions.series && controlChartOptions.chart && controlChartOptions.responsive" class="chart">
      <apx-chart
        [series]="controlChartOptions.series"
        [chart]="controlChartOptions.chart"
        [labels]="controlChartOptions.labels"
        [responsive]="controlChartOptions.responsive"
      ></apx-chart>
    </div>
    <mat-card-content>
      <p>
        The most controlled crop in the app during the last month was the {{mostControlledCrop}}.
      </p>
    </mat-card-content>

  </mat-card>
</div>
