<div class="container" style="display: grid; grid-template-columns: 1fr 1fr;">
    <div>
        <mat-grid-list cols="2" rowHeight="250px">
            <mat-grid-tile *ngFor="let tile of tiles">
                <div class="dashboard-content">
                    <div>
                        <img [src]="tile.img" class="dashboard-img">
                    </div>
                    <div>
                        <button mat-flat-button [routerLink]="tile.link" class="green-bg">{{tile.text}}</button>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div class="dashboard-content">
    </div>
</div>
