<mat-toolbar class="green-bg">
    <img src="assets/images/ChaquitacllaLogoNuevo.png" alt="logo de la empresa" class="logo"/>
      <div class="button-container">
        <button mat-button class="green-bg custom-button" routerLink="/home">Control Panel</button>
        <button mat-button class="green-bg custom-button" routerLink="/mycrops">Register Crop</button>
    </div>
    <div class="user-info">
      <button mat-flat-button routerLink="/profile" class="green-bg">
        <mat-icon>account_circle</mat-icon>
        <span>Roberto Juarez</span>
      </button>
    </div>
</mat-toolbar>
<router-outlet/>
