mat-toolbar {
    background-color: var(--primary-main-green) !important;
    color: var(--primary-main-white) !important;
    font-family: var(--font-family) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
    object-fit: contain;
    padding-right: 1rem;
}

.button-container {
    display: flex;
    justify-content: flex-start;
}

.custom-button {
    background-color: var(--primary-main-green);
    color: var(--primary-main-white);
    font-family: var(--font-family);
    font-size: 12px;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.user-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user-info span {
    font-size: 12px;
}
