<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Login</h1>
          <h6>Please enter email & password</h6>
        </div>
        <form>

          <div class="mb-3">
              <mat-form-field>
                <mat-label>Enter your email</mat-label>
                <input matInput
                       placeholder="nameemail@gmail.com"
                       [formControl]="email"
                       (blur)="updateErrorMessage()"
                       required>
                @if (email.invalid) {
                  <mat-error>{{errorMessage}}</mat-error>
                }
              </mat-form-field>

          </div>

          <div class="mb-3">
            <mat-form-field>
              <mat-label>Enter your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>

          </div>
          <button mat-button color="black">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
