<div class="form-section">
  <button mat-raised-button class="brown-bg" (click)="showForm = true" *ngIf="!showForm">Add Product</button>

  <form *ngIf="showForm" (submit)="onSubmit()" #productForm='ngForm' class="form-row">
    <mat-form-field>
      <input matInput placeholder="Product Type" name="type" required [(ngModel)]="product.type">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Product Name" name="name" required [(ngModel)]="product.name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Product Quantity" name="quantity" required [(ngModel)]="product.quantity">
    </mat-form-field>

    <button mat-raised-button class="green-bg">{{ editMode ? 'Update' : 'Add' }}</button>
    <button mat-raised-button class="brown-bg" (click)="onCancel()">Cancel</button>
  </form>
</div>
