<div class="smaller-div">
  <mat-card>
    <mat-grid-list cols="3" rowHeight="1:2">
      <mat-grid-tile colspan="1">
        <div class="profile-header">
          <h2 class="black">My Profile</h2>
          <img class="rounded-full large-image" alt="avatar" src="https://static.vecteezy.com/system/resources/thumbnails/002/318/271/small/user-profile-icon-free-vector.jpg">
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <mat-list>
          <div style="display: flex; align-items: center;">
            <h3 mat-line class="black">Name:  </h3>
            <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="newName" [disabled]="boolName">
            </mat-form-field>
            <button *ngIf="!boolName" mat-flat-button (click)="saveNameChange(newName)"><mat-icon style="color: #005f40">check</mat-icon></button>
          </div>
          <a class="text-sm" (click)="changeName()">Change Name</a>
          <mat-divider class="black"></mat-divider>
          <div style="display: flex; align-items: center;">
            <h3 mat-line class="black">Email:  </h3>
            <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="newEmail" [disabled]="boolEmail">
            </mat-form-field>
            <button *ngIf="!boolEmail" mat-flat-button (click)="saveEmailChange(newEmail)"><mat-icon style="color: #005f40">check</mat-icon></button>
          </div>
          <a class="text-sm" (click)="changeEmail()">Change Email</a>
          <mat-divider class="black"></mat-divider>
          <div style="display: flex; align-items: center;">
            <h3 mat-line class="black">Country:  </h3>
            <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="newCountry" [disabled]="boolCountry" >
            </mat-form-field>
            <button *ngIf="!boolCountry" mat-flat-button (click)="saveCountryChange(newCountry)"><mat-icon style="color: #005f40">check</mat-icon></button>
          </div>
          <a class="text-sm" (click)="changeCountry()">Change Country</a>
          <mat-divider class="black"></mat-divider>
          <div style="display: flex; align-items: center;">
            <h3 mat-line class="black">City:  </h3>
            <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="newCity" [disabled]="boolCity" >
            </mat-form-field>
            <button *ngIf="!boolCity" mat-flat-button (click)="saveCityChange(newCity)"><mat-icon style="color: #005f40">check</mat-icon></button>
          </div>
          <a class="text-sm" (click)="changeCity()">Change City</a>
          <mat-divider class="black"></mat-divider>
          <div style="display: flex; align-items: center;">
            <h3 mat-line class="black">Password:  </h3>
            <mat-form-field class="example-full-width">
              <input matInput [type]="boolPassword ? 'password' : 'text'" [(ngModel)]="newPassword" [disabled]="boolPassword">
            </mat-form-field>
            <button *ngIf="!boolPassword" mat-flat-button (click)="savePasswordChange(newPassword)"><mat-icon style="color: #005f40">check</mat-icon></button>
          </div>
          <a class="text-sm" (click)="changePassword()">Change Password</a>
          <mat-divider class="black"></mat-divider>
          <h3 mat-line class="black">Account</h3>
          <a class="text-sm-red">Delete Account</a>
        </mat-list>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>
