<!-- Create and Edit Form
<h2>{{ editMode ? 'Edit Crop' : 'New Crop' }}</h2>-->
<div class="form-section">
  <form (submit)="onSubmit()" #cropForm='ngForm' class="form-row">
    <mat-form-field>
      <input matInput placeholder="Name" name="name" required [(ngModel)]="crop.name">
    </mat-form-field>
    <mat-form-field id="age-form-field">
      <input matInput type="number" placeholder="Date Planted" name="age" required [(ngModel)]="crop.plantedDate">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Planted Area" name="address" required [(ngModel)]="crop.harvestDate">
    </mat-form-field>
    <ng-container *ngIf="editMode; else elseTemplate">
      <button mat-raised-button color="primary">Update</button>
      <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
    </ng-container>
    <ng-template #elseTemplate>
      <button mat-raised-button >Add Crop</button>
    </ng-template>
  </form>
</div>
