
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

h1{
  font-size: 45px;
  color: #000;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  width: 800px;
}

.text-center {
  text-align: center;
}
