.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

h1 {
  font-size: 45px;
  color: #000;
}

.card-container {
  width: 80%;
  margin: 50px auto;
}

.text-center {
  text-align: center;
  margin-top: 20px;
}





